
body{
  color: white;
background-color: rgb(210, 238, 122);
}

h1{
  color: black;
  font-family: georgia;

}

h2{
  color: black;
  font-family: georgia;
}
section{
  display: inline-block;
  overflow: auto;
}
section>article:nth-child(1){
  width: 50%;
  float: left;
}
section>article:nth-child(2){
  width: 50%;
  float: right;
}

img{
  display: block;
}

p1{
  color: black;
  font-family: sans-serif;


}

p2{
  color: black;
  font-family: verdana;
}

p3{
  color: black;
  font-family: Arial;
}
a{
  color: green;
  text-decoration: none;
}

.link:hover{
  text-decoration: underline;
}

p4{
  color: black;
}

p5{
  color: black;
}

p6{
  color: black;
}

footer{
  color: black;
  padding-top: 500px;
  width: 220px;
  margin: auto;
  text-align: center;
}
